<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <!-- DATA PROVIDERS -->
    <dataProviders>
      <!--  Custom SqlServerDataProvider that overrides GetEventQueue method.
      -->
      <main type="Sitecore.Data.$(database).$(database)DataProvider, Sitecore.Kernel">
        <patch:attribute name="type" value="Sitecore.Support.Data.$(database).$(database)DataProvider, Sitecore.Support.96239" />
      </main>
    </dataProviders>
  </sitecore>
</configuration>